.App {
  text-align: center;
  --background-color: white;

  background-color: var(--background-color);
  min-height: 100vh;
  font-family: 'Noto Sans';
  font-size: calc(10px + 2vmin);
  color: black;
}

input {
  font-family: 'Noto Sans';
  font-size: calc(10px + 2vmin);
}

.container {
  padding-left: 26px;
  padding-right: 26px;
}

